<div class= "banner">
<h1><%=@restaurant.name%></h1>
<%if @restaurant.reviews.length == 0%>
<%else%>
  <% x = 0 %>
  <% @restaurant.reviews.each do |review|%>
    <% x += review.rating %>
  <% end %>
  <% average_rating = (x / @restaurant.reviews.length).round(0) %>
  <%average_rating.times do |action|%>
    <i class="fa fa-star" aria-hidden="true" style="color:#F79F24 !important;"></i>
  <%end%>
<%end%>
</div>


<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">

    <h2> Restaurant details </h2>
    <div class="container fixed-heigth fixed-width-large container-inline small-margin">

      <div><%= @restaurant.address %></div>

      <div><%= @restaurant.phone_number %></div>

      <div><%= @restaurant.category %></div>
    </div>

    <h2> Restaurant reviews </h2>

    <% @restaurant.reviews.each do |review|%>

      <div class="row">
        <div class="container fixed-heigth fixed-width-large container-inline no-margin-left">
          <div class="flex-box">
          <li class="super-list fixed-width"> <%= review.content %> </li>
          <%review.rating.times do |action|%>
            <i class="fa fa-star" aria-hidden="true" style="color:#F79F24 !important;"></i>
            <% end %>
          </div>
        </div>
      </div>

      <% end %>

      <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-default btn-fixed-width btn-last" %>
      </div>
  </div>
</div>






